@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?gxcrte');
  src:  url('../../fonts/icomoon.eot?gxcrte#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?gxcrte') format('truetype'),
    url('../../fonts/icomoon.woff?gxcrte') format('woff'),
    url('../../fonts/icomoon.svg?gxcrte#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-genie-icon:before {
  content: "\e900";
}


:root {
  --color:          hsl(0,0%,22%);
  --color-subtle:   hsl(0,0%,44%);
  --color-strong:   hsl(0,0%,11%);
  --color-link:     hsl(0,0%,22%);

  --color-border:   hsl(0,0%,88%);
  --color-bg:       hsl(0,0%,96%);

  --color-accent:   black; /* Fallback */
}

/* .form-group.vdivide [class*='col-']:not(:last-child):after { */
	/* background: #e0e0e0; */
	/* width: 1px; */
	/* content: ""; */
	/* display:block; */
	/* position: absolute; */
	/* top:0; */
	/* bottom: 0; */
	/* right: 0; */
	/* min-height: 70px; */
/* } */


html {
  height: 100%;
 /* font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif; */
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  color: #6C7177;
  background-color: #f1f2f3 /* To cover OSes with no default background color */
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  color: #6C7177;
  background-color: #f1f2f3 /* To cover OSes with no default background color */
}
.v-center {
    display: table !important;
}

    .v-center div[class*='col-'] {
        display: table-cell !important;
        vertical-align: middle;
        float: none;
    }

.processing-modal {
    width: 250px;
    height: 250px;
    position: absolute; /*You can use fixed too*/
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    z-index: 1040;
}
#mainView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 24px;
}

.content {
  flex: 1;
  position: relative;
  
}
/*
.card {
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  color: #4F5256;
  border: 1px solid rgba(0,0,0,.12);
  margin-bottom: 8px;
}

.card .card-body {
  position: relative;
  padding: 16px;
}

*/


/*Keatons Navigation css */

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 340px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
			background: linear-gradient(black,lightgrey);
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 340px;
			height: 100%;
			margin-left: -280px;
			float: left;
			z-index: 800;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 340px); /*keeps 100% minus nav size*/
			margin-left: 340px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
  }
  

  /* Bootstrap Overrides */
  label {

    font-weight: normal !important;
}